$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// color scheming

$colorSet1: #fae596;
$colorSet2: #3fb0ac;
$colorSet3:rgb(23,62,67);
$colorSet4: #dddfd4;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5em;
  line-height:1.6;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  height:200px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
html, body {
  margin: 0;
  padding: 0;
  background: #ebebeb;
}
body, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  padding-top: 50px;
}
img {
  max-width: 100%;
}
nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
nav li, nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center
}
nav li, nav a {
  display: inline-block;
}
nav a {
  padding: 20px;
  color: #333;
  text-decoration: none;
}
a:hover {
  background: #fff;
}
a.active {
  background: $colorSet1;
  color: #fff;
}
.wrap {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
}
section {
  padding: 0;
}
footer {
  text-align: center;
}
button {
  font-size: 18px;
  border: 0;
  padding: 15px 30px;
  background: #00AC7F;
  color: #fff;
  cursor: pointer;
}

// ADDED AUTHOR CSS

#about{
   background-color: $colorSet4;
   padding: 100px 0;
 }
.contactsection {
  padding: 30px 0 50px 0;
  background-color: $colorSet3;
  color: white;
}

//input.ng-invalid.ng-touched {
//  border: 1px solid #FF0000;
//}
//input.ng-valid.ng-touched {
//  border: 1px solid #00A000;
//}
//.ng-invalid .btn{
//  background-color: #0d3349;
//}
//.error{
//  color: #FF0000;
//  padding-bottom: 5px;
//}
.col-lg-6, .col-lg-12{
  padding-left:0px;
}

[md-header-picture] {
  position: relative;
  width:100%;
  height:0; /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
  padding-bottom: 56.25%;
  overflow:hidden;
  background-size:160%; /* You can override this value if your picture has a weird ratio */
  background-position:50% 50%;
}

[scroll] {
  position:fixed;
  top:0;
}

//slide show images Still need to convert to Sass mixin
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@include keyframes(moveSlideshow) {
  0% { left: 0; }
  100% { left: -1684px; }
}

#tech-slideshow {
  height: 200px;
  position: relative;
  overflow: hidden;
}
#tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(../images/slideshow.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  @include transition(opacity 0.5s ease-out);
  @include animation('moveSlideshow 60s linear infinite');
}



/* I made a simple scale animation on float action button during scroll */

.main-fab {
  position:absolute;
  left: calc(100% - 90px);
  z-index: 20;
  transform:scale(1,1);
  transition: transform .1s ease-out;
}

.main-fab.hide {
  transform:scale(0,0);
  transition: transform .1s ease-out;
}

/* Lines of code below are just here to get a better aspect but optionnal */

.md-tools {
  width: auto;
}

.muted {
  color: #bbb;
  font-size: inherit;
  font-weight: 700;
  text-align: left;
}

.md-tile-left {
  margin-right:0!important;
  padding-left:24px;
  color: $colorSet3;
}
#temp-style{
  background-color: $colorSet3;
}

/* Responsive: Portrait tablets and up */
#main {
  width: 80%;
  margin-left: 10%;
  margin-top: -10%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  #main {
    margin-top: -16%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1700px;
    width: auto;
  }

  .intouch-section {
    max-width: 100%;
    width: 100%;
  }
}

.contact-hyperlink{
  text-decoration: none;
  color: black;
}

.contact-hyperlink:hover{
  background-color: transparent;
  text-decoration: none;
  color:$colorSet3;
}

.md-input{
  border-color:white;
}


.about-header{
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  margin-bottom: 60px;
}
.em-h2{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
.about-head{
  text-transform: uppercase;
  font-size: 16px;
}
.about-para{
  color: rgba(0,0,0,0.54);
}
.about-text{
  padding: 30px;
  background-color: #E6E6E6;
  h2{
    margin-top:5px;
  }
}
.about-section{
  height: 700px;
  background-image: url('../images/aboutus.png');
  background-size: 900px;
  background-repeat: no-repeat;
  background-position-y: 70px;
}

.intouch-section {
  height: 600px;
  width: 100%;
  background-color: #009688;
}

#contact_us {
  background-color: #ffffff;
  color: black;
  float: left;
  width: 65%;
  margin: 0px;
  border-radius: 0px;
}

#in_touch {
  float: left;
  width: 45%;
  margin-left: 22%;
}

.contact {
  width: 80%;
  margin-left: 10%;
  margin-top: -15%;
}

#contactinfo {
  background-color: #00796B;
  border-radius: 0px;
  margin: 0px;
  width: 35%;
  a {
    background: transparent;
    color: transparent;
  }
}

@media screen and (max-width: 1190px) {
  #contactinfo {
    width: 40%;
  }

}

.text {
  text-align: left;
  color: #FFFFFF;
  width: 45%;
}


@media screen and (max-width: 680px) {
  .text {
    width: 100%;
  }

  #contact_us {
    width: 100%;
  }

  #contactinfo {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #contact_us {
    width: 100%;
    display: block;
  }

  #contactinfo {
    display: block;
    width: 100%;
  }

  #main {
    width: 90%;
    margin-left: 5%;
    margin-top: -45%;
    .layout-row {
      flex-direction: column;
    }
  }

  .contact {
    margin: 0px;
    width: 100%;
  }

  .intouch-section {
    padding-top: 20px;
    img {
      display: none;
    }
  }
}

