<div layout="row" layout-align="center center" class="about-section">
  <div flex="40" layout-align="center center">
  </div>
  <div flex layout="column" class="about-text">
    <h2 class="about-header"><span class="em-h2">M4</span> Development</h2>
    <div flex layout="row">
      <div flex="10">
      </div>
      <div flex layout="column" >
        <h3 class="about-head">Who we are</h3>
        <p class="about-para">M4 Web Development is a new web development company based in Hamilton, Ontario. We are a group of post-seconday students with a combined knowledge base and development strengths to fullfill your website and web application requirements.</p>
        <h3 class="about-head">What we do</h3>
        <p class="about-para">We strives to deliver high quality, user friendly and innovative websites, web and mobile applications. We will integerate with your business to come with web experiences that are unique to your business.</p>
      </div>
    </div>
  </div>
</div>
