<form id = "contactus" name="contactform" novalidate>
  <h1 >Contact Us</h1><br>

  <fieldset>
    <!-- first name -->
    <div class="row">
      <div class = "form-group col-lg-6">
          <label for = "firstName" class = "control-label">First Name *</label>
          <input type = "text" class = "form-control" id = "firstName" placeholder = "First Name" name="firstname" ng-model="user.firstname" ng-required="true">
          <p class="error" ng-show="contactform.firstname.$invalid && contactform.firstname.$touched">Please enter your first name.</p>
      </div>

      <!-- last name -->
      <div class = "form-group col-lg-6">
          <label for = "lastName" class = "control-label">Last Name *</label>
          <input type = "text" class = "form-control" id = "lastName" placeholder = "Last Name" name="lastname" ng-model="user.lastname" ng-required="true">
          <p class="error" ng-show="contactform.lastname.$invalid && contactform.lastname.$touched">Please enter your last name.</p>
      </div>
    </div>

    <div class="row">
      <!-- email -->
      <div class = "form-group col-lg-6">
          <label for = "inputEmail" class = "control-label">Email *</label>
          <input type = "email" class = "form-control" id = "inputEmail" placeholder = "E-mail" name="email" ng-model="user.email" ng-required="true">
        <p class="error" ng-show="contactform.email.$invalid && contactform.email.$touched">Please enter a valid email.</p>
      </div>

      <!-- phone number -->
      <div class = "form-group col-lg-6">
          <label class = "control-label">Phone</label>
          <input type="text" class="form-control bfh-phone" id ="phone" name="phone" data-format="+1(ddd)ddd-dddd" placeholder="1 (905)-802-2305" ng-model="user.phone">
      </div>
    </div>

    <div class="row">
      <!-- message -->
      <div class = "form-group col-lg-12">
        <label for="message"  class = "control-label">Message</label>
          <textarea class="form-control" rows="5" id="message" name="message" placeholder="Type Your Message Here" ng-model="user.message"></textarea>
      </div>


      <!-- submit button and reload page -->
      <div class = "form-group col-lg-10">
        <md-button class="md-raised md-cornered">Submit</md-button>
      </div>
    </div>

  </fieldset>

  <div id="social-icons">
    <a title="FACEBOOK" href="https://www.facebook.com/M4-Web-Development-1136716383018907/?ref=hl"><img src="images/facebook.png" height="42" width="42"></a>
    <a title="TWITTER" href="https://twitter.com/M4WebDev"><img src="images/twitter.png"  height="42" width="42"></a>
    <a title="LINKEDIN" href="https://ca.linkedin.com/in/m4-web-development-49466b118"><img src="images/linkedin.png"  height="42" width="42"></a><br/><br/>
  </div>
</form>
