<form id = "contactus" name="contactform" novalidate ng-controller="ContactCtrl">
  <h1 >Contact Us</h1><br>
  <div id="temp-style"></div>
  <fieldset>
    <!-- first name -->
    <div class="row">
      <div class = "form-group col-lg-6">
          <label for = "name" class = "control-label">Name *</label>
          <input type = "text" class = "form-control" id = "name" placeholder = "Name" name="name" ng-model="user.name" ng-required="true">
          <p class="error" ng-show="contactform.name.$invalid && contactform.name.$touched">Please enter your name.</p>
      </div>

      <!-- last name -->
      <div class = "form-group col-lg-6">
          <label for = "Organization" class = "control-label">Organization *</label>
          <input type = "text" class = "form-control" id = "organization" placeholder = "Organization" name="organization" ng-model="user.organization" ng-required="true">
          <p class="error" ng-show="contactform.organization.$invalid && contactform.organization.$touched">Please enter your organization name.</p>
      </div>
    </div>

    <div class="row">
      <!-- email -->
      <div class = "form-group col-lg-6">
          <label for = "inputEmail" class = "control-label">Email *</label>
          <input type = "email" class = "form-control" id = "inputEmail" placeholder = "E-mail" name="email" ng-model="user.email" ng-required="true">
        <p class="error" ng-show="contactform.email.$invalid && contactform.email.$touched">Please enter a valid email.</p>
      </div>

      <!-- phone number -->
      <div class = "form-group col-lg-6">
          <label class = "control-label">Phone</label>
          <input type="text" class="form-control bfh-phone" id ="phone" name="phone" data-format="+1(ddd)ddd-dddd" placeholder="1 (905)-802-2305" ng-model="user.phone">
      </div>
    </div>

    <div class="row">
      <!-- message -->
      <div class = "form-group col-lg-12">
        <label for="message"  class = "control-label">Message *</label>
          <textarea style="resize:none" class="form-control" rows="5" id="message" name="message" placeholder="Type Your Message Here" ng-model="user.message" ng-required="true"></textarea>
        <p class="error" ng-show="contactform.message.$invalid && contactform.message.$touched">Please enter a message.</p>
      </div>

      <!-- submit button-->
      <div class = "form-group col-lg-10">
        <md-button class="md-raised md-cornered" ng-click="submitForm()">Submit</md-button>
      </div>
    </div>

  </fieldset>

  <hr style="border-top:1px solid black">
  <div>
      <a class="contact-hyperlink form-group col-md-4 md-subhead"  title="FACEBOOK" href="https://www.facebook.com/M4-Web-Development-1136716383018907/?ref=hl"><img src="images/facebook.png" height="42" width="42">&nbsp;Like us on Facebook!</a>
      <a class="contact-hyperlink form-group col-md-4 md-subhead" title="TWITTER" href="https://twitter.com/M4WebDev"><img src="images/twitter.png"  height="42" width="42">&nbsp;Follow us on Twitter!</a>
      <a class="contact-hyperlink form-group col-md-4 md-subhead" title="LINKEDIN" href="https://ca.linkedin.com/in/m4-web-development-49466b118"><img src="images/linkedin.png" height="42" width="42">&nbsp;Visit us on LinkedIn</a><br/><br/>
  </div>
  <hr style="border-top:1px solid black">
</form>
