<section id="about">
  <div class="container">
    <div ng-include="aboutView"></div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div ng-include="servicesView"></div>
  </div>
</section>


<section id="team">
  <div class="container">
    <h1>The Team</h1>
    <div layout="row" layout-sm="column" layout-xs="column">
      <div class="member-container" layout="column" flex ng-repeat="member in teamMembers" layout-align="center center">
        <div class="image-container"><img class ="member-image" src = "{{member.photo}}"></div>
        <h2>{{member.name}}</h2>
        <p>{{member.description}}</p>
      </div>
    </div>
    </div>
</section>

<section id="contactus">
  <div class="intouch-section">
    <div ng-include="intouchView"></div>
  </div>
</section>

<section class="contactsection">
  <div class="container">
    <div ng-include="contactView"></div>
  </div>
</section>
