<h2>Services</h2>
<md-grid-list class="align-center"
               md-cols-xs="2" md-cols-sm="4" md-cols-md="6" md-cols-lg="6" md-cols-xl="6" md-cols-gt-md="6"
               md-row-height-gt-sm="100px" md-row-height="1:1"
               md-gutter="12px" md-gutter-gt-sm="12px">
    <md-grid-tile class="service-tiles" ng-repeat="service in services"
                  md-rowspan="2" md-colspan="2" md-colspan-sm="2" md-rowspan-sm="2" md-colspan-xs="1" md-rowspan-xs="1"
                  style="background-color: white;background-size:auto 100%;" >
      <div class="serv-desc">
        <h4>{{service.name}}</h4>
        <p>{{service.description}}</p>
      </div>
      <div class="serv-img">
        <img src="{{service.image}}" style="width: 30%; margin: 8% 0 5%;">
        <h4>{{service.name}}</h4>
      </div>
    </md-grid-tile>
  </md-grid-list>

